.snakemake/
NER*
REL*
wandb/
corpus*
test_training/
gomez/
notebooks/figures/
notebooks/ner_annotation/
notebooks/ontologies/
notebooks/*_files/
notebooks/go-basic.obo
gomez
.DS_Store
*-checkpoint*
temp/
scripts/__pycache__
.vscode/
*.out
errors.log
linkbert_pipeline/snakemake_PMC/PMC*/
linkbert_pipeline/snakemake_PMC/*.tar.gz
linkbert_pipeline/snakemake_PMC/*.txt
linkbert_pipeline/snakemake_PMC/*.parquet
linkbert_pipeline/snakemake_PMC/*.pqt
linkbert_pipeline/snakemake_PMC/*.tsv
linkbert_pipeline/snakemake_PMC/*.csv