.snakemake/
NER*
REL*
wandb/
corpus*
test_training/
gomez/
notebooks/figures/
notebooks/ner_annotation/
notebooks/ontologies/
notebooks/*_files/
notebooks/go-basic.obo
gomez
.DS_Store
*-checkpoint*
temp/
scripts/__pycache__
.vscode/
*.out
errors.log
snakemake_PMC/PMC*/
snakemake_PMC/*.tar.gz
snakemake_PMC/*.txt
snakemake_PMC/*.parquet
snakemake_PMC/*.pqt
snakemake_PMC/*.tsv
snakemake_PMC/*.csv