.snakemake/
NER*
REL*
wandb/
corpus*
test_training/
gomez/
notebooks/figures/
notebooks/ner_annotation/
notebooks/ontologies/
notebooks/entities/
notebooks/*_files/
notebooks/go-basic.obo
gomez
.DS_Store
*-checkpoint*
temp/
scripts/__pycache__
.vscode/
*.out
errors.log
snakemake_PMC/PMC*/
snakemake_PMC/*.tar.gz
snakemake_PMC/*.txt
snakemake_PMC/*.parquet
snakemake_PMC/*.pqt
snakemake_PMC/*.tsv
snakemake_PMC/*.csv
models_biorxiv.tar.gz
notebooks/.ipynb_checkpoints
.ncbi_api_key
snakemake_PMC/output/stats/chunks/xmlchunk_0000_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0001_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0002_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0003_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0004_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0005_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0006_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0007_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0008_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0009_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0010_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0011_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0012_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0013_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0014_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0015_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0016_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0017_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0018_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0019_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0020_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0021_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0022_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0023_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0024_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0025_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0026_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0027_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0028_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0029_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0030_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0031_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0032_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0033_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0034_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0035_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0036_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0037_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0038_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0039_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0040_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0041_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0042_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0043_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0044_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0045_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0046_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0047_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0048_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0049_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0050_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0051_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0052_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0053_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0054_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0055_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0056_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0057_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0058_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0059_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0060_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0061_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0062_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0063_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0064_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0065_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0066_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0067_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0068_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0069_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0070_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0071_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0072_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0073_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0074_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0075_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0076_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0077_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0078_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0079_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0080_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0081_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0082_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0083_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0084_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0085_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0086_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0087_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0088_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0089_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0090_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0091_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0092_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0093_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0094_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0095_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0096_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0097_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0098_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0099_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0100_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0101_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0102_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0103_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0104_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0105_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0106_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0107_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0108_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0109_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0110_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0111_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0112_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0113_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0114_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0115_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0116_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0117_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0118_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0119_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0120_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0121_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0122_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0123_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0124_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0125_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0126_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0127_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0128_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0129_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0130_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0131_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0132_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0133_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0134_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0135_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0136_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0137_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0138_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0139_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0140_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0141_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0142_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0143_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0144_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0145_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0146_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0147_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0148_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0149_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0150_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0151_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0152_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0153_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0154_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0155_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0156_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0157_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0158_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0159_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0160_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0161_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0162_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0163_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0164_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0165_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0166_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0167_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0168_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0169_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0170_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0171_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0172_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0173_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0174_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0175_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0176_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0177_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0178_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0179_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0180_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0181_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0182_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0183_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0184_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0185_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0186_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0187_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0188_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0189_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0190_stats.json
snakemake_PMC/output/stats/chunks/xmlchunk_0191_stats.json
snakemake_PMC/output/data/pmc_filtered.parquet
snakemake_PMC/output/stats/processing_summary.json
